<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet"
	  href = "static/custom.css"
	  type = "text/css">
    <title>Raspberry Secure Controls</title>
</head>
<header>
    <h1>My Raspberry Secure</h1>
</header>
<nav>
    <a href="/control">Controls</a>
    <a href="/videos">Videos</a>
</nav>
<body>
    <h2>Controls</h2>
    <button id="activate_button">Activate Camera</button>
    <button id="deactivate_button">Deactivate Camera</button>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/button.js"></script>
</body>
</html>
